# InVision .gitignore v1.1.0
# If improving this file, please be sure to update the original in the `invision-generate` repo too.

# Codeship
codeship.aes
*.env
*dockercfg
tmp

# Filesystem
.DS_Store

# IDE files
.idea

# Dependency directories
node_modules

# Generated Folders
coverage

# User-specific files
.env

# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

# Misc Files
ngrok
*.BAK
dump.rdb
*.orig
